html{
    font-family: 'Helvetica', 'Arial', sans-serif;
    /* display: table; */
}
body{
    /* display: table-cell; */
    background-color:#003f5c ;
    align-content: center;
    align-items: center;
    /* vertical-align: middle; */
    margin: 0 auto;
    
}
.skill-section{
    
    align-self: center;
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr 2fr; */
    position: absolute;
    align-self: center;
    align-content: center;
    background-color:#58508d ;
    width: 1000px;
    height: fit-content;
}
.skill{
    /* position: relative; */
    background-color:#ff6361 ;
    box-shadow: 0px 4px 3px rgba(188, 80, 144,0.5);
    width: 50%;
    height: 200px;
    border-radius: 12px;
    /* align-content: center; */
    margin: 10px;
}

/* colors i will use for this are  #003f5c,  #58508d,  #bc5090,  #ff6361 and  #ffa600*/
/* link of the clor pallete from colorkit https://colorkit.co/palette/003f5c-58508d-bc5090-ff6361-ffa600/*/ 